/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/

.tableContainer {
  margin-top: 20px;

  table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
    margin-top: 30px;
    margin-bottom: 30px;

    th,
    td {
      padding: 10px;
      border: 1px solid #ccc;
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
      cursor: pointer;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    tr:hover {
      background-color: #ddd;
    }

    .actions {
      button {
        margin-right: 5px;
        padding: 5px 10px;
        cursor: pointer;

        &:hover {
          background-color: #f0f0f0;
        }
      }
    }
  }

  .pagination {
    margin-top: 10px;
    display: flex;
    justify-content: center;

    button {
      margin-right: 5px;
      padding: 5px 10px;
      cursor: pointer;

      &:hover {
        background-color: #f0f0f0;
      }
    }
  }

  .addForm {
    width: 300px;
  }
}
